
.todolist__container {
    background-color: #F7F7F7;
    max-width: 340px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.date__picker{
    text-decoration: none;
}

.list__head {
    border-radius: 10px 10px 0 0;
    padding: 20px;
    background: linear-gradient(180deg, #F7F7F7, #F3F2F7);
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.05);

}

.list__head-flex{
    border-radius: 10px 10px 0 0;
    padding: 10px;
    background: linear-gradient(180deg, #F7F7F7, #F3F2F7);
    display: flex;
    justify-content: space-between;
}

.list__date {
    margin-bottom: 15px;
    font-size: 20px;
    color: #6B6AD7;
    
}

.list__date-bold{
font-weight: 700;
}

.list__date-light{
    font-weight: 300;
}

.list__year {
    font-size: 12px;
    margin-bottom: 10px;
    color: #A09FA6;
    font-weight: 400;
}

.list__column:nth-child(2){
    font-size: 12px;
}


.list__input{
    margin-left : 30px;
    margin-right : 30px;
   margin-top: 10px;
    
    
}

.list__input-content{
    width: 65%;
    font-family: inherit;
    padding: 4px;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 5px;
    margin-bottom: 5px;
}

.float{
	width:40px;
    height:40px;
    float: right;
	background-color:#DB7271;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:15px;
}

.list__input-btn{
    font-family: inherit;
    border: 0;
    font-weight: 200;
    font-size: 14px;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 5px;
    margin-bottom: 10px;
    color: #c2bcd6;
}

.warning{
    font-size: 12px;
    color: red;
    font-weight: 400;
    margin-bottom: 5px;
    
}



.title {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 400;
    color: #6B6AD7;
}


.list__info-container{
    margin-top: 10px;
}

.list__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: 1px solid rgba(0,0,0,0.05);
    font-size: 15px;
    margin-left: 24px;
    color: #848484;
    font-weight: 400;
}

.list__importance{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

.list__content {
    margin : 20px 10px;
    width: 70%;
}
.list__info:hover{
    background-color: #ededef;
}

.list__name-checked{
    text-decoration: line-through;
    color:#ccccce;

}

.list__time{
    margin-left: 10px;
    font-size : 10px;
    color:#ccccce;
}

.list__remove{
    padding: 15px;
    font-size: 7px;
    margin-right: 5px;
    color: #848484;

}

.display{
    display: none;
}

.popup {
    display: none;
    position: fixed;
    left : 0;
    top : 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
}

.popup__content{
    color: #6B6AD7;
    padding: 20px;
    background-color: white;
    width : 340px;
    height: 200px;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
}

.popup__title{
    font-weight: 600;
}

.popup-font{
    font-size: 13px;
    font-weight: 200;
    color: #c2bcd6;
    margin-bottom: 5px;
}

.list__input-top{
    margin-bottom: 3px;
}

.list__input-bottom {
    margin-bottom: 20px;
}

.radio__btn-label{
    color: #848484;
    font-size: 13px;
}